@import "_settings";

body, html {
  height: 100%;
  max-height: 100%;
}

/* Avada Menü fix */
.fusion-main-menu > ul > li > a{
  text-transform: uppercase;
}
.fusion-header-menu-align-center .fusion-main-menu{
  background: $color-pr;
  float: left;
  margin-left: 120px;
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li{
  padding: 0;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    height: 50px;
    width: 1px;
    top: 50%;
    right: 0;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#223b73+0,9bd0f0+87 */
    background: #223b73; /* Old browsers */
    background: -moz-linear-gradient(top,  #223b73 0%, #9bd0f0 87%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #223b73 0%,#9bd0f0 87%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #223b73 0%,#9bd0f0 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223b73', endColorstr='#9bd0f0',GradientType=0 ); /* IE6-9 */

  }
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li:last-child:after{
  display: none;
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li > a{
  padding: 0 20px;
}
.fusion-secondary-main-menu{
  border: none;
  margin-top: -20px;
  background-image: url('../../images/top-hullam.svg');
  background-repeat: repeat-x;
  background-position: center bottom;
}
.fusion-header-v4 .fusion-header{
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
.fusion-main-menu > ul > li > a:hover,
.fusion-header-menu-align-center .fusion-main-menu > ul > li.current_page_item > a {
    border-color: #223b73;
    background: darken($color-pr, 10%);
}
.fusion-megamenu-holder{
  border: 10px solid darken($color-pr, 10%) !important;
}
.fusion-page-title-bar .fusion-breadcrumbs a {
  color: #444444;
}
.fusion-breadcrumb-sep{
  color: #cacaca;
}
/* END Avada Menü fix */

.vehicles-holder{
  min-height: 550px;
}

.fusion-footer footer.fusion-footer-widget-area{
  background-image: url('../../images/footer-bg-bottom-v1.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 0;
  padding-bottom: 95px;

  .widget_nav_menu{
    margin: 5px 0;
  }

  ul {
    text-align: center;
    li {
      display: inline-block;
      *display: inline;
      zoom: 1;
      padding: 12px;
      line-height: 1;

      a {
        font-family: 'Oswald';
        font-weight: normal;
        font-size: 1.4em;
        text-shadow: 0 1px 3px #000000 !important;

        &:before {
          content:"";
          display: none;
        }
      }
    }
  }
}

/* Header */
.logo-slogan {
  font-family: 'Oswald';
  text-transform: uppercase;

  color: $color-sec;
  left: 120px;
  top: 20px;
  position: absolute;
  font-size: 1.7em;

}
.fusion-header-content-3-wrapper{
  padding-bottom: 23px;
  .search-table{
    .search-field{
      input[type=text] {
        height: 32px;
        border-color: $color-pr !important;
        color: $color-sec !important;
        font-size: 0.95em;
      }
    }
    .search-button {
      input[type=submit] {
        font-size: 20px;
        height: 32px;
        width: 32px;
        border: 1px solid $color-pr;
        border-left: none;
        background:transparent !important;
        color: $color-pr !important;
        &:hover{
          background: $color-pr !important;
          color: white !important;
        }
      }
    }
  }
}
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-header-tagline a{
  background: darken($color-pr, 8%) !important;
  padding: 8px;
  margin: 0 4px;
  text-align: center;
  border-radius: 5px;
}
.fusion-social-networks{
  overflow: initial;
}
/* END Header */

/* Footer */
.fusion-footer{
  position: relative;
  &:before {
    content:"";
    position: absolute;
    width: 1920px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -197px;
    z-index: 100;
    height: 262px;
    background-image: url('../../images/footer-bg-top-v1.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
  }
}
footer {
  .custom-footer-logo{
    margin-bottom: 20px;
    margin-top: -35px;
  }
  .footer-facebook-likebox{
    position: absolute;
    right: 125px;
    bottom: -82px;
  }
  .am-contact{
    font-size: 1.2em;
    font-family: 'Oswald';
    font-weight: normal;

    i {
      font-size: 22px;
      width: 22px;
      text-align: center;
      margin-right: 10px;
    }
  }

  a:hover {
    color: #f9d179 !important;
  }

  .fusion-copyright-notice{
    color: #bae0f3;
  }
  .sailboat-draw{
    pointer-events: none;
    position: absolute;
    left: 250px;
    bottom: -90px;
    height: 240px;
    animation: sailboat 20s infinite;

    img {
      max-height: 100%;
    }
  }
}

/* END Footer */

/* KEYFRAMES */
@webkit-keyframes sailboat {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(-10deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes sailboat {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}
/* END KEYFRAMES */
