@import "_settings";

body, html {
  height: 100%;
  max-height: 100%;
}

/* Avada Menü fix */
.fusion-main-menu > ul > li > a{
  text-transform: uppercase;
}
.fusion-header-menu-align-center .fusion-main-menu{
  background: $color-pr;
  float: left;
  margin-left: 120px;
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li{
  padding: 0;
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li > a{
  padding: 0 20px;
}
.fusion-secondary-main-menu{
  border: none;
  border-bottom: 10px solid $color-pr;
  margin-top: -20px;
}
.fusion-header-v4 .fusion-header{
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
.fusion-main-menu > ul > li > a:hover,
.fusion-header-menu-align-center .fusion-main-menu > ul > li.current_page_item > a {
    border-color: #223b73;
    background: darken($color-pr, 10%);
}
.fusion-megamenu-holder{
  border: 10px solid darken($color-pr, 10%) !important;
}
.fusion-page-title-bar .fusion-breadcrumbs a {
  color: #444444;
}
.fusion-breadcrumb-sep{
  color: #cacaca;
}
/* END Avada Menü fix */

.vehicles-holder{
  min-height: 550px;
}
