@import "_settings";

body, html {
  height: 100%;
  max-height: 100%;
}

/* Avada Menü fix */
.fusion-main-menu > ul > li > a{
  text-transform: uppercase;
}
.fusion-header-menu-align-center .fusion-main-menu{
  background: $color-pr;
  float: left;
  margin-left: 120px;
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li{
  padding: 0;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    height: 50px;
    width: 1px;
    top: 50%;
    right: 0;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#223b73+0,9bd0f0+87 */
    background: #223b73; /* Old browsers */
    background: -moz-linear-gradient(top,  #223b73 0%, #9bd0f0 87%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #223b73 0%,#9bd0f0 87%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #223b73 0%,#9bd0f0 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223b73', endColorstr='#9bd0f0',GradientType=0 ); /* IE6-9 */

  }
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li:last-child:after{
  display: none;
}
.fusion-header-menu-align-center .fusion-main-menu > ul > li > a{
  padding: 0 20px;
}
.fusion-secondary-main-menu{
  border: none;
  margin-top: -20px;
  background-image: url('../../images/top-hullam.svg');
  background-repeat: repeat-x;
  background-position: center bottom;
}
.fusion-header-v4 .fusion-header{
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
.fusion-main-menu > ul > li > a:hover,
.fusion-header-menu-align-center .fusion-main-menu > ul > li.current_page_item > a {
    border-color: #223b73;
    background: darken($color-pr, 10%);
}
.fusion-megamenu-holder{
  border: 10px solid darken($color-pr, 10%) !important;
}
.fusion-page-title-bar .fusion-breadcrumbs a {
  color: #444444;
}
.fusion-breadcrumb-sep{
  color: #cacaca;
}
.fusion-megamenu-title a{
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  font-family:'Oswald';
  position: relative;

  &:after {
    content: "\f08e";
    font-family: 'FontAwesome';
    font-size: 18px;
    line-height: 32px;
    margin-left: 5px;
  }
}
.fusion-megamenu{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2efef+0,fffcfc+100 */
background: rgb(242,239,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,239,239,1) 0%, rgba(255,252,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(242,239,239,1) 0%,rgba(255,252,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(242,239,239,1) 0%,rgba(255,252,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2efef', endColorstr='#fffcfc',GradientType=0 ); /* IE6-9 */
}
.fusion-main-menu .sub-menu{
  left: 50%;
  border: 5px solid darken($color-pr, 10%) !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2efef+0,fffcfc+100 */
background: rgb(242,239,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,239,239,1) 0%, rgba(255,252,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(242,239,239,1) 0%,rgba(255,252,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(242,239,239,1) 0%,rgba(255,252,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2efef', endColorstr='#fffcfc',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0 5px 20px -5px #000000;
  -moz-box-shadow: 0 5px 20px -5px #000000;
  box-shadow: 0 5px 20px -5px #000000;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

   a {
     text-align: center;
     padding: 15px !important;©

     &:hover {
       color: white;
     }
   }

   &:before {
     content:"";
     position: absolute;
     border-width: 20px;
     border-style: solid;
     pointer-events: none;
     border-color: transparent transparent darken($color-pr, 10%) transparent;
     left: 50%;
     top: -40px;
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     transform: translateX(-50%);
   }
}

.fusion-megamenu-wrapper .fusion-megamenu-submenu .sub-menu{
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  border: none !important;
  background: none;

  &:before {
    display: none;
  }


  a {
    background: none;
    border: none;
    height: auto;
    max-height: initial;
    color: $color-pr-dark;
    line-height: 26px;
    text-align: left;
    padding: 0 15px 4px 25px !important;

    .fusion-megamenu-bullet {
      color: white;
      margin-top: 1px;
      border: none;
      width: 22px;
      height: 22px;
      position: relative;

      &:after {
        content: "\f18e";
        font-family: 'FontAwesome';
        position: absolute;
        left: 0;
        color: $color-pr-dark;
        line-height: 24px;
        padding: 0 0 0 1px;
        margin: 0;
        top: 0;
        width: 24px;
        font-size: 24px;
        height: 24px;
        text-align: center;
      }
    }

    &:hover {
      background: none !important;
      color: $color-sec !important;

      .fusion-megamenu-bullet {

        &:after {
          color: $color-sec;
        }
      }
    }
  }
}

.fusion-megamenu-icon{
  display: block;
  width: 100%;
  position: relative;
  max-height: 120px;
  height: 120px;
  overflow: hidden;
  margin: 0 0 12px 0;


  img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: initial;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.fusion-megamenu-title{
  padding: 15px;
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu{
  padding: 0px 0px 15px 0;
}
/* END Avada Menü fix */

.circle-frame{
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 400px;
  display: block;
  border: 5px solid #ffffff;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 110%;
    max-height: 110%;
    width: auto;
    max-width: initial;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  &.frame-size-1p3{
    width: 220px;
    height: 220px;
    -webkit-border-radius: 220px;
    -moz-border-radius: 220px;
    border-radius: 220px;
  }

  &.frame-size-1p4{
    width: 180px;
    height: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
  }
}

.fusion-separator.sep-shadow:after{
  background: radial-gradient(ellipse at 50% -50%, rgba(62, 94, 139, 0.38) 0px, rgba(255, 255, 255, 0) 65%);
}
.fusion-separator .icon-wrapper i:before {
  font-size: 18px;
}

.vehicles-holder{
  &.style-slide {
      min-height: 250px;
  }
}

.button-pill{
  border-radius: 50px;
}
.pagination {
  text-align: center;
  margin: 15px auto;
  float: none;

  a.page-numbers{
    color: #616161;
    margin: 0 5px;
    font-size: 0.9em;
  }

  .page-numbers.prev,
  .page-numbers.next {
    color: #444444;
  }

  a.page-numbers{
    background: #e2e2e2;
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    padding: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    &:hover {
      background: $color-pr-dark;
      color: white;
    }
  }
  a.page-numbers.prev,
  a.page-numbers.next {
    width: auto;
    padding: 0 10px;
    color: #8c8c8c;

    &:hover {
      color: white;
    }
  }
  .page-numbers.current{
    background: $color-pr-dark;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
    font-size: 1.1em;
    line-height: 30px;
    margin: 0 4px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
}
.fusion-footer footer.fusion-footer-widget-area{
  background-image: url('../../images/footer-bg-bottom-v1.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 0;
  padding-bottom: 95px;

  .widget_nav_menu{
    margin: 5px 0;
  }

  ul {
    text-align: center;
    li {
      display: inline-block;
      *display: inline;
      zoom: 1;
      padding: 12px;
      line-height: 1;

      a {
        font-family: 'Oswald';
        font-weight: normal;
        font-size: 1.4em;
        text-shadow: 0 1px 3px #000000 !important;

        &:before {
          content:"";
          display: none;
        }
      }
    }
  }
}

/* Header */
.logo-slogan {
  font-family: 'Oswald';
  text-transform: uppercase;

  color: $color-sec;
  left: 120px;
  top: 20px;
  position: absolute;
  font-size: 1.7em;

}
.fusion-header-content-3-wrapper{
  padding-bottom: 23px;
  .search-table{
    .search-field{
      input[type=text] {
        height: 32px;
        border-color: $color-pr !important;
        color: $color-sec !important;
        font-size: 0.95em;
      }
    }
    .search-button {
      input[type=submit] {
        font-size: 20px;
        height: 32px;
        width: 32px;
        border: 1px solid $color-pr;
        border-left: none;
        background:transparent !important;
        color: $color-pr !important;
        &:hover{
          background: $color-pr !important;
          color: white !important;
        }
      }
    }
  }
}
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .fusion-header-tagline a{
  background: darken($color-pr, 8%) !important;
  padding: 8px;
  margin: 0 4px;
  text-align: center;
  border-radius: 5px;
}
.fusion-social-networks{
  overflow: initial;
}
/* END Header */

.sc-header {
  h1 {
    text-align: center;

    strong {
      color: darken($color-pr, 20%);
    }
  }
  margin: 0 0 40px 0;
}
.sc-list-nodata{
  text-align: center;
  padding: 10px 0 80px 0;

  h3 {
    text-align: center;
    color: black;
  }
}

.sc-postslist-src_cat-holder
{
  & > .list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &.style-default{
    .post-list-item{
      position: relative;
      .item-wrapper {
        padding: 20px;

        .title {
          height: 85px;
          overflow: hidden;
          h3 {
            margin: 0 0 10px 0;
            a {
              text-transform: uppercase;
              line-height: 1;
              color: $color-sec;
              font-size: 1.3em;
              letter-spacing: -1px;

              &:hover {
                color: darken($color-pr, 20%);
              }
            }
          }
        }

        .img {
          height: 255px;
          max-height: 255px;
          overflow: hidden;
          position: relative;
          text-align: center;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;

          img {
            max-height: 255px;
            height: 255px;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
          }
        }
        .desc {
          font-size: 0.9em;
          color: #222222;
          margin-top: 10px;
          text-align: justify;
          line-height: 1.3;
        }

        .date {
          line-height: 1;
          margin-top: 20px;
          font-size: 0.8em;
          color: #bababa;
        }

        a.post-read {
          font-family: 'Oswald';
          background: darken($color-pr, 20%);
          color: white;
          float: right;
          text-align: center;
          padding: 8px 15px;
          line-height: 1;
          text-transform: uppercase;
          font-size: 0.85em;
          font-weight: bold;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;

          &:hover {
            background: darken($color-pr, 30%);
          }
        }
      }
    }
  }

  &.homepage {
    .post-list-item {
      &:after {
        content: "";
        position: absolute;
        height: 90%;
        width: 1px;
        top: 20px;
        right: 0;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9bd0f0+0,9bd0f0+100&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(155,208,240,1) 0%, rgba(155,208,240,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(155,208,240,1) 0%,rgba(155,208,240,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(155,208,240,1) 0%,rgba(155,208,240,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bd0f0', endColorstr='#009bd0f0',GradientType=0 ); /* IE6-9 */


      }
    }
    .post-list-item:nth-child(3) {
      &:after {
        display: none;
      }
    }
  }

  &.grid-3x{
    & > .list-wrapper > article {
      flex-basis: calc(100%/3);
    }
  }
  &.grid-2x{
    & > .list-wrapper > article {
      flex-basis: calc(100%/3);
    }
  }
  &.grid-4x{
    & > .list-wrapper > article {
      flex-basis: calc(100%/4);
    }
  }
}

.post-content h1 {
  margin: 5px 0;
}

.sc-vehiclessc-db-holder{
  & > .vehicle-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 25px -5px;
  }

  &.style-standard{
    .vehicle-list-item{
      flex-basis: calc(100%/4);
      margin-bottom: 15px;

      .item-wrapper{
        padding: 5px;
      }

      .title {
        background: desaturate(lighten($color-sec, 0), 5);
        h3{
          line-height: 1.2;
          margin: 0;
        }
        a {
          color: white;
          text-align: center;
          display: block;
          text-align: center;
          font-size: 0.9em;
          padding: 10px;
        }
      }

      .img {
        max-height: 200px;
        height: 200px;
        overflow: hidden;
        position: relative;

        img {
          position: absolute;
          max-height: 105%;
          height: 105%;
          max-width: initial;
          width: auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .params {
        background: #f1f1f1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;

        .param {
          flex-basis: calc(100%/3);
          font-size: 0.85em;
          text-transform: uppercase;
          font-family: 'Oswald';
          padding: 0 5px;
          line-height: 36px;
          border: 1px solid #dadada;
          text-align: left;

          .value {
            color: #444444;
            font-weight: bold;
            padding-left: 5px;
          }
          &:last-child{
            flex-basis: 100% - (100%/3);
            text-align: right;
            color: white;
            background: #75abd4;
            font-size: 0.8em;

            .value {
              color: white;
            }
          }
        }
      }

      .button {
        margin-top: -5px;
        a {
          background: #dedede;
          padding: 5px;
          text-align: center;
          margin: 0 auto;
          display: block;
          width: 65%;
          text-transform: uppercase;
          color: #404040;
          font-size: 0.8em;
          font-family: 'Oswald';

          &:hover {
            color: white;
            background: $color-sec;
          }
        }
      }
    }
  }
}
.rev_slider_wrapper .shadow-left{
  display: none !important;
}
.rev_slider_wrapper .shadow-right{
  background-image: url('../../images/slide-overlay-bottom.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100px;
  margin-bottom: -2px;
}
.avada-skin-rev{
  border: none !important;
}
.sc-tourssc-src_db-holder
{
  & > .list-wrapper {
    margin: 0 -20px;
  }

  &.style-home{
    .tour-list-item{
      float: left;
      width: 50%;
      position: relative;
      .item-wrapper {
        padding: 20px;

        .title {
          overflow: hidden;
          h3 {
            margin: 0 0 5px 0;
            line-height: 1.2;
            a {
              text-transform: uppercase;
              line-height: 1;
              color: $color-sec;
              font-size: 1.4em;
              letter-spacing: -1px;

              &:hover {
                color: darken($color-pr, 20%);
              }
            }
          }

          h4 {
            color: darken($color-pr, 10%);
            margin: 5px 0 12px 0;
            font-size: 1.2em;
            line-height: 1;
            font-weight: normal;
            font-family: 'Oswald';
          }
        }

        .img {
          float:left;
          width: 40%;
          height: 140px;
          max-height: 140px;
          overflow: hidden;
          position: relative;
          text-align: center;
          margin: 0;

          img {
            max-height: initial;
            height: auto;
            position: absolute;
            max-width: 100%;
            width: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }

          .flags {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            pointer-events: none;
            .flag {
              background: #555555;
              color: white;
              text-transform: uppercase;
              font-size: 0.75em;
              margin: 8px 0;
              padding: 4px 8px;

              -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
              -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
              box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

              &.flag-highlight{
                background: #c92e36;
              }

              &.flag-exclusive{
                color: #f5c65e;
                background: #222222;
              }
            }
          }
        }
        .after-image-info{
          background: #f1f1f1;
          padding: 10px;
          font-size: 0.8em;
          color: $color-pr-dark;
          position: relative;

          .rundate {
            float: left;
            font-size: 1.1em;
            i{
              margin:0 8px 0 5px;
              font-size: 18px;
            }
          }
          .price {
            position: absolute;
            right: 0;
            top: -5px;
            bottom: 0;
            line-height: 43px;
            padding: 0 15px;
            background: darken($color-pr, 30%);
            color: white;
            font-weight: bold;
            font-size: 1.8em;
            font-family: 'Oswald';
          }
        }
        .desc {
          float: left;
          padding: 0 0 0 10px;
          width: 60%;
          font-size: 0.8em;
          text-align: justify;
          line-height: 1.5;
          color: #222222;
        }
        a.post-read {
          font-family: 'Oswald';
          background: darken($color-pr, 20%);
          color: white;
          margin-top: 8px;
          text-align: center;
          padding: 8px;
          line-height: 1;
          font-size: 0.95em;
          font-weight: bold;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          text-transform: uppercase;
          display: block;
          float: left;

          &:hover {
            background: darken($color-pr, 30%);
          }
        }

        .more-info{
          background: #e8e8e8;
          border: 1px solid #c3c3c3;
          text-transform: uppercase;
          font-family: 'Oswald';
          padding: 4px 3px;
          float: right;
          font-size: 0.80em;
          margin-top: 8px;
          color: #5f5f5f;

          i {
            margin: 0 6px 0 0;
            float: left;
          }

          div {
            float: left;
            position: relative;
            padding: 0 8px;

            strong {
              color: #3c3c3c;
            }

            i {
              line-height: 18px;
              color: #3c3c3c;
              font-size: 14px;
            }
          }
          & > div:first-child{
            //border-right: 1px solid #c3c3c3;
          }
        }
      }

      &:nth-child(2) {
        &:after {
          content: "";
          position: absolute;
          height: 1px;
          width: 90%;
          bottom: 0;
          left: 20px;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9bd0f0+0,9bd0f0+100&1+0,0+100 */
background: -moz-linear-gradient(left,  rgba(155,208,240,1) 0%, rgba(155,208,240,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(155,208,240,1) 0%,rgba(155,208,240,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(155,208,240,1) 0%,rgba(155,208,240,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bd0f0', endColorstr='#009bd0f0',GradientType=1 ); /* IE6-9 */

        }
      }

      &.item1 {
        .img {
          float:none;
          width: 100%;
          height: 280px;
          max-height: 280px;

          img {
            height: auto;
            max-height: initial;
            width: 100%;
            max-width: 100%;
            -moz-transform: trasnlate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
          }
        }
        .desc {
          width: 100%;
          font-size: 0.95em;
          padding: 10px 0 0 0;
          line-height: 1.5;
        }
        &:after {
          content: "";
          position: absolute;
          height: 90%;
          width: 1px;
          top: 20px;
          right: 0;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9bd0f0+0,9bd0f0+100&1+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(155,208,240,1) 0%, rgba(155,208,240,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(155,208,240,1) 0%,rgba(155,208,240,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(155,208,240,1) 0%,rgba(155,208,240,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bd0f0', endColorstr='#009bd0f0',GradientType=0 ); /* IE6-9 */
        }
      }
    }
  }

  &.style-standard{
    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .tour-list-item{
      flex-basis: calc(100%/2);
      position: relative;
      .item-wrapper {
        padding: 20px;

        .title {
          overflow: hidden;
          h3 {
            margin: 0 0 5px 0;
            line-height: 1.2;
            a {
              text-transform: uppercase;
              line-height: 1;
              color: $color-sec;
              font-size: 1.2em;
              letter-spacing: -1px;

              &:hover {
                color: darken($color-pr, 20%);
              }
            }
          }

          h4 {
            color: darken($color-pr, 10%);
            margin: 5px 0 12px 0;
            font-size: 1.2em;
            line-height: 1;
            font-weight: normal;
            font-family: 'Oswald';
          }
        }

        .img {
          width: 100%;
          height: 4000px;
          max-height: 400px;
          overflow: hidden;
          position: relative;
          text-align: center;
          margin: 0;

          img {
            max-height: initial;
            height: auto;
            position: absolute;
            max-width: 100%;
            width: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
        .after-image-info{
          background: #f1f1f1;
          padding: 10px;
          font-size: 0.8em;
          color: $color-pr-dark;
          position: relative;

          .rundate {
            float: left;
            font-size: 1.1em;
            i{
              margin:0 8px 0 5px;
              font-size: 18px;
            }
          }
          .price {
            position: absolute;
            right: 0;
            top: -5px;
            bottom: 0;
            line-height: 43px;
            padding: 0 15px;
            background: darken($color-pr, 30%);
            color: white;
            font-weight: bold;
            font-size: 1.8em;
            font-family: 'Oswald';
          }
        }
        .desc {
          padding: 0;
          width: 100%;
          font-size: 0.95em;
          text-align: justify;
          line-height: 1.5;
          color: #222222;

          .desc-wrapper {
            margin: 10px 0;
            overflow: hidden;
            max-height: 100px;
          }
        }
        a.post-read {
          font-family: 'Oswald';
          background: darken($color-pr, 20%);
          color: white;
          margin-top: 8px;
          text-align: center;
          padding: 8px;
          line-height: 1;
          font-size: 0.95em;
          font-weight: bold;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          text-transform: uppercase;
          display: block;
          float: left;

          &:hover {
            background: darken($color-pr, 30%);
          }
        }

        .more-info{
          background: #e8e8e8;
          border: 1px solid #c3c3c3;
          text-transform: uppercase;
          font-family: 'Oswald';
          padding: 4px 3px;
          float: right;
          font-size: 0.80em;
          margin-top: 8px;
          color: #5f5f5f;

          i {
            margin: 0 6px 0 0;
            float: left;
          }

          div {
            float: left;
            position: relative;
            padding: 0 8px;

            strong {
              color: #3c3c3c;
            }

            i {
              line-height: 18px;
              color: #3c3c3c;
              font-size: 14px;
            }
          }
          & > div:first-child{
            //border-right: 1px solid #c3c3c3;
          }
        }
      }
    }
  }
  &.style-byboat{
    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .tour-list-item{
      flex-basis: calc(100%/4);
      position: relative;
      .item-wrapper {
        padding: 20px;

        .title {
          overflow: hidden;
          h3 {
            margin: 0 0 5px 0;
            line-height: 1.2;
            a {
              text-transform: uppercase;
              line-height: 1;
              color: $color-sec;
              font-size: 1em;
              letter-spacing: -1px;

              &:hover {
                color: darken($color-pr, 20%);
              }
            }
          }

          h4 {
            color: darken($color-pr, 10%);
            margin: 5px 0 12px 0;
            font-size: 0.9em;
            line-height: 1;
            font-weight: normal;
            font-family: 'Oswald';
          }
        }

        .img {
          width: 100%;
          height: 160px;
          max-height: 160px;
          overflow: hidden;
          position: relative;
          text-align: center;
          margin: 0;

          img {
            max-height: initial;
            height: auto;
            position: absolute;
            max-width: 100%;
            width: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
        .after-image-info{
          background: #f1f1f1;
          padding: 10px;
          text-align: center;
          font-size: 0.8em;
          color: $color-pr-dark;
          position: relative;

          .rundate {
            padding: 5px 0 0 0;
            font-size: 0.9em;

            strong {
              font-size: 0.9em;
            }
          }

          .price {
            position: absolute;
            left: 50%;
            top: -50%;
            width: 80%;
            line-height: 43px;
            padding: 0 15px;
            background: rgba(0, 93, 149, 0.78);
            color: white;
            font-weight: bold;
            font-size: 1.4em;
            font-family: 'Oswald';
            transform: translateX(-50%);
          }
        }
        .desc {
          padding: 0;
          width: 100%;
          font-size: 0.8em;
          text-align: justify;
          line-height: 1.3;
          color: #222222;

          .desc-wrapper {
            margin: 5px 0;
            overflow: hidden;
            max-height: 90px;
          }
        }
        a.post-read {
          font-family: 'Oswald';
          background: #c0c0c0;
          color: white;
          margin: 0 auto 0 auto;
          text-align: center;
          padding: 0 8px;
          font-size: 0.9em;
          font-weight: bold;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          text-transform: uppercase;
          display: block;
          float: right;
          width: 55%;
          height: 28px;
          line-height: 28px;

          &:hover {
            background: darken($color-pr, 30%);
          }
        }

        .more-info{
          background: #e8e8e8;
          border: 1px solid #c3c3c3;
          font-family: 'Oswald';
          padding: 4px 3px;
          float: left;
          width: 40%;
          font-size: 1.1em;
          color: #5f5f5f;

          i {
            margin: 0 6px 0 0;
            float: left;
          }

          div {
            text-align: center;
            position: relative;
            padding: 0 13px;
            margin: 0 -1px;
            font-size: 1em;

            strong {
              color: #3c3c3c;
            }

            i {
              line-height: 18px;
              color: #3c3c3c;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  h4 {
    a:hover {
      color: darken($color-pr-dark, 15%) !important;
    }
  }
}

body.single-tours{
  #main {
    padding-top: 0 !important;
  }
}

.tour-page{
  .header {
    h1 {
      text-align: center;
      font-family: 'Oswald';
      font-size: 3.4em;
      color: $color-sec;
      margin: 10px 0 5px 0;
    }
    margin-bottom: 20px;
  }

  .nav-links{
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        padding: 0 10px;
        margin: 4px 0;
        display: block;
        color: $color-sec;
        text-transform: uppercase;
        font-family: 'Oswald';
        border-left: 5px solid $color-sec;

        &:hover {
          color: $color-pr-dark;
          border-left: 5px solid $color-pr-dark;
        }
      }
    }
  }
}

.boat-page{
  .boat-page-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;

    .images, .datas {
      padding: 0 10px;
    }

    .images {
      flex-basis: 60%;
    }
    .datas {
      flex-basis: 40%;

      .title {
        h1 {
          margin: 0 0 15px 0;
          color: $color-sec;
          text-transform: uppercase;
          font-size: 2.2em;
        }
      }

      .params {
        .param {
          position: relative;
          line-height: 1;
          color: $color-pr-dark;
          font-size: 1.2em;

          &:after {
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            bottom: 0;
            left: 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bde3fa+0,89d0f9+50,bde3fa+100&0+0,1+50,0+100 */
background: -moz-linear-gradient(left,  rgba(189,227,250,0) 0%, rgba(137,208,249,1) 50%, rgba(189,227,250,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(189,227,250,0) 0%,rgba(137,208,249,1) 50%,rgba(189,227,250,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(189,227,250,0) 0%,rgba(137,208,249,1) 50%,rgba(189,227,250,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bde3fa', endColorstr='#00bde3fa',GradientType=1 ); /* IE6-9 */

          }

          .title, .value {
            float: left;
            width: 50%;
            text-align: left;
            padding: 15px 0;
          }
          .value {
            font-weight: bold;
            color: darken($color-pr-dark, 10%);
          }
        }
      }
    }
  }
  .boat-description{
    border: 10px solid #f1f1f1;
    border-left: none;
    border-right: none;
    padding: 10px 0;
    margin: 20px 0;

    h1 {
      color: #515151;
      margin: 5px 0 25px 0;
      font-family: 'Oswald';
    }

    h2 {
      font-size: 1.6em;
    }
  }
  .related-list{
    margin: 0 0 20px 0;
    h2 {
      color: darken($color-pr, 10%);
      font-size: 2.8em;
      font-weight: bold;
      margin: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.fusion-button.button-blue{
  background: $color-sec;
  color: white;

  &:hover {
    background: $color-pr-dark;
    color: white;
  }
}
/* Footer */
.fusion-footer{
  position: relative;
  &:before {
    content:"";
    position: absolute;
    width: 1920px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -197px;
    z-index: 100;
    height: 262px;
    background-image: url('../../images/footer-bg-top-v1.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
  }
}
footer {
  .custom-footer-logo{
    margin-bottom: 20px;
    margin-top: -35px;
  }
  .footer-facebook-likebox{
    position: absolute;
    right: 125px;
    bottom: -82px;
  }
  .am-contact{
    font-size: 1.2em;
    font-family: 'Oswald';
    font-weight: normal;

    i {
      font-size: 22px;
      width: 22px;
      text-align: center;
      margin-right: 10px;
    }
  }

  a:hover {
    color: #f9d179 !important;
  }

  .fusion-copyright-notice{
    color: #bae0f3;
  }
  .sailboat-draw{
    pointer-events: none;
    position: absolute;
    left: 250px;
    bottom: -90px;
    height: 240px;
    animation: sailboat 20s infinite;

    img {
      max-height: 100%;
    }
  }
}

/* END Footer */

/* KEYFRAMES */
@webkit-keyframes sailboat {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(-10deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes sailboat {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}
/* END KEYFRAMES */
